*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
}
header{
    text-align: center;
   
    background-color: red;
    display:flex;
        justify-content: space-around;
}
.name{
    display:flex;
 margin-top: 5px;

 
}
.guid{
    display:flex;
  gap: 20px;
margin-top: 5px;

}
.world{
    width:25%;
    height: 30%;
}


